<unity>
  <containers>
    <container>
      <types>
        <type type ="Uhuru.BOSH.Agent.Providers.IInfrastructure, Uhuru.BOSH.Agent" mapTo="Uhuru.BOSH.Agent.Infrastructures.VSphereInfrastructure, Uhuru.BOSH.Agent">
          <lifetime type= "singleton" />
        </type>
        <type type ="Uhuru.BOSH.Agent.Providers.IPlatform, Uhuru.BOSH.Agent" mapTo="Uhuru.BOSH.Agent.Platforms.WindowsPlatform, Uhuru.BOSH.Agent">
          <lifetime type= "singleton" />
        </type>
      </types>
    </container>
  </containers>
  <typeAliases>
    <typeAlias alias="singleton"
        type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perThread"
        type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external"
        type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="newInstance"
               type="Microsoft.Practices.Unity.TransientLifetimeManager,  Microsoft.Practices.Unity"></typeAlias>
  </typeAliases>
</unity>